html{
    background-color: rgb(253, 253, 253);
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 30%;
    color: whitesmoke;
}
fieldset{
    border: 2px solid rgb(250, 246, 246);
    padding-top: 5%;
    border-radius: 10px;
    padding-inline: 10px;
}
legend{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    color: whitesmoke;
    margin-bottom: 10%;
}
.inputBox{
    position: relative;
    margin-bottom: 30px;

}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    color: white;
    font-size: 17px;
    width: 100%;
    letter-spacing: 2px; 
}
.labelInput{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .2s;
}
.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
    top: -50%;
    font-size: 12px;
}

#nasc{
    border: none;
    border-radius: 5px;
    padding: 3%;

    outline: none;
}
#submit{
    width: 100%;
    border: none;
    padding: 15px;
    margin-bottom: 2%;
    border-radius: 10px;
    color: ghostwhite;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}   