@media (max-width:768px){
    .navbar-nav{
        display: none;
    }
}

.nav_cor{
background-color: rgba(0, 0, 0, 0.712);

}
nav {
    height: 70px;
    box-shadow: 2px 2px 15px black;
    border-bottom: 3px solid black;
  }
#logo{
    position: relative;
    right:10%;
    margin-left: 2%;
    height: 10%;
    width: 10%;
    border-radius: 50%;
}
#logo {
    max-width: 30%; /* Ajuste o tamanho da logo conforme necessário */
    margin-left: 10px; /* Ajuste a margem à esquerda conforme necessário */
    margin-right: 30px; /* Ajuste a margem à direita conforme necessário */
}
.navbar-brand img {
    display: inline-block;
    vertical-align: middle;
}
.no-link {
    pointer-events: none;
    cursor: default;
  }
.nav-item{
    position: absolute;
    top: 23%;
}
.home{
    top: -2vh;
    left: 8vw;
    list-style: none;
    color: white;
}

.produto{
    left: 38vw;
}
.contato{
    left: 45vw;
}
.sobre{
    left: 52vw;
}

.mobile{
    display: none;
}

#login{
    position: absolute;
    right: 12rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(11, 195, 228);
    cursor: pointer;
    transition: all 0.3s;
    
}
#login:hover {
    background-color: #bebebe;
    color: #028fec;
    transform: scale(1.1);
  }

#registra{
    position: absolute;
    right: 4rem;
    background-color: rgb(10, 86, 228);
    color: rgb(255, 230, 7);
    border: 1px solid rgb(11, 195, 228);
}

#registra:hover {
    color: #086bff;
    background-color: #37294d;
    transform: scale(1.1);
}
#navbarScroll{
    display: block;
}
#menu-toggler{
    display: none;
}
.homeMobile{
    position: relative;
}
.produtoMobile{
    position: relative;
    background-color: red;
}

